.alert-success {
    background-color: #E7F8E5;
    color: #23BD12;
}
.alert-warn{
    background-color: #FFF2D6;
    color: #F5A623;
}
.alert-error{
    background-color: #FBE7E3;
    color: #DB3614;
}