:root {
	--text-warn: #f5a623;
	--SystemWarningTints-50: #fff2d6;
	--text-information: #1780c1;
	--SystemInformationTints-50: #dceef8;
}
.alert-warn {
	background-color: var(--SystemWarningTints-50);
	color: var(--text-warn);
}

.badge-warn {
	background-color: var(--SystemWarningTints-50);
	color: var(--text-warn);
}
.badge-info {
	background-color: var(--SystemInformationTints-50);
	color: var(--text-information);
}
